# Example configuration
# put your content types here if you want their repeater values to get globbed into a field

contenttypes:
  mycontenttype:
    keywordfield: keywords # the name of the field where the globbed content will be stored
  mycooltype:
    keywordfield: fieldnamegoeshere
